<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goal">
      <h2>My Course Goal</h2>
    <!--  <p v-html="outputGoal()"></p>  outputing raw html by using v-html Directive / add html content in the courseGoalB-->
    <!--<p>{{ outputGoal() }}</p> 'interpolation -->
      <p>{{ courseGoalA }}</p>
      <p> Learn more <a v-bind:href="vueLink">about Vue</a>.</p> <!-- data binding -->
    </section>

    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="add(10)">Add 10</button>
      <button v-on:click="reduce(5)">Subtract 5</button>
      <p v-once>Starting Counter: {{ counter }} </p>
      <p>Result: {{ counter }}</p>
      <label>Input Name: </label>

      <!-- Event binding
        <input 
        type="text"
        v-bind:value="name"
        v-on:input="setName" 
        v-on:keyup.enter="confirmInput"> 
      <p>Your Name: {{ confirmedName }}</p> -->

      <!-- Two-Way binding -->
      <input type="text" v-model="name"> <!-- v-model is just a shortcut of v-bind & v-on:input-->
      <button v-on:click="resetInput">Reset Input</button>
      <p>Your Name: {{ fullname }}</p>
      <form v-on:submit.prevent="submitForm">
        <button>Sign Up</button>
      </form>
    </section>
  </body>
</html>
